/* 05.02. Page Header */
.page-header {
	text-align: center;
	padding-top: ptr(51);
	padding-bottom: ptr(52);

	@include media-breakpoint-up(lg) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: left;
	}

	&__container {
		background-color: $gray-lightest;
		margin-bottom: ptr(60);

		.blog & {
			@include media-breakpoint-up(lg) {
				margin-bottom: ptr(100);
			}
		}
	}

	&__title {
		font-size: ptr(36);
		text-transform: uppercase;
		margin-bottom: 0;
	}

	&__subtitle {
		margin-bottom: 0;
	}
}
