.so-widget-sow-social-media-buttons-atom-f74300e4080f .social-media-button-container {
  zoom: 1;
  text-align: center;
  /*
    &:after {
        content:"";
        display:inline-block;
        width:100%;
    }
    */
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780) {
  .so-widget-sow-social-media-buttons-atom-f74300e4080f .social-media-button-container {
    text-align: left;
  }
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-facebook {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #3a5795;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2c4270), color-stop(1, #3a5795));
  background: -ms-linear-gradient(bottom, #2c4270, #3a5795);
  background: -moz-linear-gradient(center bottom, #2c4270 0%, #3a5795 100%);
  background: -o-linear-gradient(#3a5795, #2c4270);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a5795', endColorstr='#2c4270', GradientType=0);
  border-color: #273b65 #25375e #203053 #25375e;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #3d5b9c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2f4678), color-stop(1, #3d5b9c));
  background: -ms-linear-gradient(bottom, #2f4678, #3d5b9c);
  background: -moz-linear-gradient(center bottom, #2f4678 0%, #3d5b9c 100%);
  background: -o-linear-gradient(#3d5b9c, #2f4678);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d5b9c', endColorstr='#2f4678', GradientType=0);
  border-color: #2a3f6d #273b65 #23355a #273b65;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-facebook.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-twitter {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #78bdf1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4aa6ec), color-stop(1, #78bdf1));
  background: -ms-linear-gradient(bottom, #4aa6ec, #78bdf1);
  background: -moz-linear-gradient(center bottom, #4aa6ec 0%, #78bdf1 100%);
  background: -o-linear-gradient(#78bdf1, #4aa6ec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78bdf1', endColorstr='#4aa6ec', GradientType=0);
  border-color: #3ca0eb #339bea #2594e8 #339bea;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-twitter.ow-button-hover:hover {
  background: #81c2f2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #53abed), color-stop(1, #81c2f2));
  background: -ms-linear-gradient(bottom, #53abed, #81c2f2);
  background: -moz-linear-gradient(center bottom, #53abed 0%, #81c2f2 100%);
  background: -o-linear-gradient(#81c2f2, #53abed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81c2f2', endColorstr='#53abed', GradientType=0);
  border-color: #45a4ec #3ca0eb #2e99e9 #3ca0eb;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-twitter:visited,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-twitter:active,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-twitter:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-twitter.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-instagram {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #3d739c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2f5877), color-stop(1, #3d739c));
  background: -ms-linear-gradient(bottom, #2f5877, #3d739c);
  background: -moz-linear-gradient(center bottom, #2f5877 0%, #3d739c 100%);
  background: -o-linear-gradient(#3d739c, #2f5877);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d739c', endColorstr='#2f5877', GradientType=0);
  border-color: #2a506c #274a65 #23425a #274a65;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-instagram.ow-button-hover:hover {
  background: #4078a3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #325d7f), color-stop(1, #4078a3));
  background: -ms-linear-gradient(bottom, #325d7f, #4078a3);
  background: -moz-linear-gradient(center bottom, #325d7f 0%, #4078a3 100%);
  background: -o-linear-gradient(#4078a3, #325d7f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4078a3', endColorstr='#325d7f', GradientType=0);
  border-color: #2d5574 #2a506c #264861 #2a506c;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-instagram:visited,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-instagram:active,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-instagram:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-instagram.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-google-plus {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #dd4b39;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c23321), color-stop(1, #dd4b39));
  background: -ms-linear-gradient(bottom, #c23321, #dd4b39);
  background: -moz-linear-gradient(center bottom, #c23321 0%, #dd4b39 100%);
  background: -o-linear-gradient(#dd4b39, #c23321);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#c23321', GradientType=0);
  border-color: #b52f1f #ac2d1e #9f2a1b #ac2d1e;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-google-plus.ow-button-hover:hover {
  background: #de5342;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca3523), color-stop(1, #de5342));
  background: -ms-linear-gradient(bottom, #ca3523, #de5342);
  background: -moz-linear-gradient(center bottom, #ca3523 0%, #de5342 100%);
  background: -o-linear-gradient(#de5342, #ca3523);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de5342', endColorstr='#ca3523', GradientType=0);
  border-color: #bd3221 #b52f1f #a82c1d #b52f1f;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-google-plus:visited,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-google-plus:active,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-google-plus:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-google-plus.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-linkedin {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #0177b4;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #015581), color-stop(1, #0177b4));
  background: -ms-linear-gradient(bottom, #015581, #0177b4);
  background: -moz-linear-gradient(center bottom, #015581 0%, #0177b4 100%);
  background: -o-linear-gradient(#0177b4, #015581);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0177b4', endColorstr='#015581', GradientType=0);
  border-color: #014b72 #014568 #003b59 #014568;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-linkedin.ow-button-hover:hover {
  background: #017ebe;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #015c8b), color-stop(1, #017ebe));
  background: -ms-linear-gradient(bottom, #015c8b, #017ebe);
  background: -moz-linear-gradient(center bottom, #015c8b 0%, #017ebe 100%);
  background: -o-linear-gradient(#017ebe, #015c8b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#017ebe', endColorstr='#015c8b', GradientType=0);
  border-color: #01527c #014b72 #014163 #014b72;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-linkedin:visited,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-linkedin:active,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-linkedin:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-linkedin.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-youtube {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #cf3427;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a4291f), color-stop(1, #cf3427));
  background: -ms-linear-gradient(bottom, #a4291f, #cf3427);
  background: -moz-linear-gradient(center bottom, #a4291f 0%, #cf3427 100%);
  background: -o-linear-gradient(#cf3427, #a4291f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf3427', endColorstr='#a4291f', GradientType=0);
  border-color: #97261c #8f241b #822118 #8f241b;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-youtube.ow-button-hover:hover {
  background: #d73729;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ad2b21), color-stop(1, #d73729));
  background: -ms-linear-gradient(bottom, #ad2b21, #d73729);
  background: -moz-linear-gradient(center bottom, #ad2b21 0%, #d73729 100%);
  background: -o-linear-gradient(#d73729, #ad2b21);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d73729', endColorstr='#ad2b21', GradientType=0);
  border-color: #a0281e #97261c #8a231a #97261c;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-youtube:visited,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-youtube:active,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-youtube:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-youtube.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-snapchat {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #fffc00;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccca00), color-stop(1, #fffc00));
  background: -ms-linear-gradient(bottom, #ccca00, #fffc00);
  background: -moz-linear-gradient(center bottom, #ccca00 0%, #fffc00 100%);
  background: -o-linear-gradient(#fffc00, #ccca00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffc00', endColorstr='#ccca00', GradientType=0);
  border-color: #bdba00 #b3b000 #a3a100 #b3b000;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-snapchat.ow-button-hover:hover {
  background: #fffc0a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d6d400), color-stop(1, #fffc0a));
  background: -ms-linear-gradient(bottom, #d6d400, #fffc0a);
  background: -moz-linear-gradient(center bottom, #d6d400 0%, #fffc0a 100%);
  background: -o-linear-gradient(#fffc0a, #d6d400);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffc0a', endColorstr='#d6d400', GradientType=0);
  border-color: #c7c500 #bdba00 #adab00 #bdba00;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-snapchat:visited,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-snapchat:active,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-snapchat:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-snapchat.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-wordpress {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #222222;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #080808), color-stop(1, #222222));
  background: -ms-linear-gradient(bottom, #080808, #222222);
  background: -moz-linear-gradient(center bottom, #080808 0%, #222222 100%);
  background: -o-linear-gradient(#222222, #080808);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#080808', GradientType=0);
  border-color: #050505 #000000 #000000 #000000;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-wordpress.ow-button-hover:hover {
  background: #272727;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0e0e0e), color-stop(1, #272727));
  background: -ms-linear-gradient(bottom, #0e0e0e, #272727);
  background: -moz-linear-gradient(center bottom, #0e0e0e 0%, #272727 100%);
  background: -o-linear-gradient(#272727, #0e0e0e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#272727', endColorstr='#0e0e0e', GradientType=0);
  border-color: #0a0a0a #050505 #000000 #050505;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-wordpress:visited,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-wordpress:active,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-wordpress:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-wordpress.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-envelope {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #99c4e6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #70acdc), color-stop(1, #99c4e6));
  background: -ms-linear-gradient(bottom, #70acdc, #99c4e6);
  background: -moz-linear-gradient(center bottom, #70acdc 0%, #99c4e6 100%);
  background: -o-linear-gradient(#99c4e6, #70acdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c4e6', endColorstr='#70acdc', GradientType=0);
  border-color: #64a5d9 #5ca0d7 #4f99d4 #5ca0d7;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-envelope.ow-button-hover:hover {
  background: #a1c9e8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #78b1de), color-stop(1, #a1c9e8));
  background: -ms-linear-gradient(bottom, #78b1de, #a1c9e8);
  background: -moz-linear-gradient(center bottom, #78b1de 0%, #a1c9e8 100%);
  background: -o-linear-gradient(#a1c9e8, #78b1de);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1c9e8', endColorstr='#78b1de', GradientType=0);
  border-color: #6caadb #64a5d9 #579ed6 #64a5d9;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-envelope:visited,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-envelope:active,
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-envelope:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button-envelope.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button {
  font-size: 1.33em;
  padding: 1em 1em;
  margin: 0.1em 0.05em 0.1em 0.05em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.so-widget-sow-social-media-buttons-atom-f74300e4080f .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}