/* 05.24. Skype Button */
.skype-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1fa7da;
	border-radius: ptr(60);
	padding: ptr(14) ptr(30);
	transition: $primary-transition;

	.fa {
		order: 2;
		font-size: ptr(30);
		color: #79cae9;
		vertical-align: middle;
		padding-top: ptr(2);
		transition: $primary-transition;
	}

	&:focus,
	&:hover {
		background-color: darken(#1fa7da, 2);
		text-decoration: none;

		.fa {
			color: lighten(#79cae9, 5);
		}
	}

	&__title {
		order: 1;
		font-size: ptr(12);
		font-weight: bold;
		text-transform: uppercase;
		color: #ffffff;
		margin: 0;
	}
}
